aiohttp==3.8.4
aiomysql==0.2.0
aioredis==2.0.1
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.2.0
frozenlist==1.4.0
greenlet==2.0.2
idna==3.4
multidict==6.0.4
PyMySQL==1.1.0
requests==2.31.0
typing_extensions==4.7.1
urllib3==2.0.3
yarl==1.9.2
